{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <div id="form">
                {{ form(blog_post_form, {'method': 'POST'}) }}
            </div>

        </div>
    </div>
{% endblock %}
